.bg-gris{
	background-color: #d6d6d6;
}
.bg-grisdark{
	background-color: gray;
}
.mg-top3{
	margin-top: 3%
}
.mg-bottom{
	margin-bottom: 3%
}
.mg-top6{
	margin-top: 6%
}
.mg-bottom6{
	margin-bottom: 6%
}
.tx-white{
	color:white;
}